:root {
    --color1: #18CFAB;
    --color2: #FFFFFF;
    --color3: #4E4E4E;
    --color4: #717171;
    --color5: #777777;
    --color6: #D4D4D4;
    --color7: #BBBBBB;
    --color8: #22353F;
    --color9: #AEAEAE;
    --color10: #00CBF6;
    --color11: #1FDAB5;
    --color12: #F2F4F5;
    --color13: #281e10;
    --color14: #E9EDEF;
    --color15: #DADADA;
    --color16: #1C2A33;
    --color17: #090805;
   }

/* Намагалась повісити шрифт тільки на body, але чомусь не до всіх елементів застосовувася він */
/* Тому перелічила різні елементи */
body,
p,
span,
h1,
h2,
h3,
button,
li {
    font-family: 'Montserrat', sans-serif;
}

.green-text {
    color: var(--color1);
}

.container {
    width: 1160px;
    margin: 0 auto;
}

.button {
    width: 168px;
    height: 63px;
    border-radius: 5px;
    border-width: 0;
    color: var(--color2);
    position: relative;   
    cursor: pointer; 
}
.button:active {
    top: 5px;
    left: 3px;
}
.button::before {
    content: "";
    /* width: 68px;
    height: 30px; */
    width: 100%;
    height: 100%; 
    border-radius: 5px;
    border-width: 0;
    background-color: var(--color2);
    position: absolute; 
    left: 0px; 
    top: -5px;
    z-index: -1;
}
.button-green {
    background-color: var(--color1);
}
.button-blue {
    background-color: var(--color10);
}
.button-load {
    line-height: 42px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.button-now {
    line-height: 32px;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
}

.header {
    background-color: rgba(94, 93, 88, 0.60);
    position: fixed;
    top: 0; /* Додає фіксацію хедера зверху */
    width: 100%;
    height: 120px;
    z-index: 5;
    /* padding-top: 38px;
    padding-bottom: 36px;     */
}
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* height: 67px; */
    height: 100%;
    padding: 0 20px; /* Додає відступи зліва та справа */
}
.header__nav-with-search {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-logo {
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
    text-decoration: none;
    margin-right: 30px;
}
.header-logo-span-h {
    color: var(--color2);
    font-size: 40px;
    font-weight: 700;
    line-height: 31px;
    position: relative;
    z-index: 1;
    margin-left: 13px;
    margin-right: 20px;
}
.header-logo-polygon {
    position: absolute;
    top: 25px;
    left: 0px;
}
.header-logo-text {
    color: var(--color2);
    font-size: 32px;
    font-weight: 400;
    line-height: 48px;
}
.header-nav ul {
    height: 120px;
    display: flex;
    align-items: center;
    gap: 21.42px;
}
.header-nav ul li {
    height: 100%;
    display: flex;
    align-items: center;
}
.header-nav ul li a {
    height: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    color: var(--color2);
    opacity: 0.6;
    /* color: rgba(255, 255, 255, 0.60); */
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    text-decoration: none;
    transition: color 0.3s ease;
}
.header-nav ul li a:hover {
    color: var(--color1);
    border-top: 2px solid transparent;
    border-bottom: 2px solid var(--color1);
}
.header-search {
    content: url(./Step\ Project\ Ham/./Search\ icon\ 1.svg);
    width: 22px;
    height: 21px;
    margin-left: 22px;
    text-decoration: none;
}

.hero {
    background-image: url(./Step\ Project\ Ham/Sections\ background/section-1\(header\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;    
}
.hero::before {
    content: "";
    background: var(--color8);
    opacity: .6;
    position: absolute; 
    /* top: 0; */
    /* left: 0; */
    width: 100%; 
    height: 100%;
}
.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 379px;
    padding-bottom: 243px;
    position: relative;
    z-index: 1;
}
.hero-title {
    color: var(--color2);
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 22px;
}
.hero-slogan {
    color: var(--color2);
    text-align: center;
    font-size: 78px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 22px;
}
.hero-text {
    color: var(--color6);
    text-align: center;
    font-size: 34px;
    font-weight: 400;
    margin-bottom: 129px;
}

.options {
    width: 100%;
    height: 377px;
    padding-top: 8px;
    padding-bottom: 8px;
    display: flex;
    justify-content: center;
}
.options-square {
    width: 482px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 110px;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}
.options-dark-green {    
    padding-top: 97px;    
    background-color: var(--color16);
    color: var(--color1);
    
}
.options-light-green {    
    padding-top: 107px;    
    background-color: var(--color1);
    color: var(--color2);    
}

.servise {
    padding-top: 85px;
    padding-bottom: 91px;    
}
.servise-content {
    display: flex;
    flex-direction: column;
    align-items: center;    
}
.servise-title {
    color: var(--color3);
    text-align: center;
    font-size: 36px;
    font-weight: 400;
    line-height: 40px;
    margin-bottom: 99px;
    position: relative;
}
.servise-title::after {
    content: url(./Step\ Project\ Ham/./Style\ copy\ 2.svg);
    position: absolute; 
    top: 36px;
    left: 72.795px;
}
.servise-menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 27px;
}
.servise-menu li {
    height: 86px;
    cursor: pointer;
    box-sizing: border-box;
}
.servise-menu-item {
    width: 192px;
    height: 73px;
    display: flex;
    justify-content: center;
    align-items: center;    
    border: 1.5px solid var(--color15);
    color: var(--color4);
    background-color: var(--color12);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 39px;
    /* transition: background-color 0.1s ease; */
}
.triangle {
    width: 0;
    height: 0;
    border-left: 27px solid transparent;
    border-right: 27px solid transparent;
    border-top: 15px solid transparent; 
    position: relative;
    z-index: 1;
    bottom: 10px;
    left: 50%; 
    transform: translate(-50%);        
  }
.servise-menu li:hover .servise-menu-item {
    /* background-color: var(--color1); */
    /* color: var(--color2); */
    border-color: var(--color1);
}
/* .servise-menu li:hover .triangle {
    border-top: 27px solid var(--color1);
} */

.servise-item {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}
.servise-item p {
    color: var(--color5);
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
}

.purchase {
    /* min-width: 1200px; */
    /* width: 100%; */
    background-image: url(./Step\ Project\ Ham/Sections\ background/section-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 476px;
    position: relative;
}
.purchase::after {
    content: "";
    background: var(--color17);    
    opacity: .8;
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%;
}
.purchase-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 127px;
    padding-bottom: 127px;
    position: relative;
    z-index: 1;
}
.purchase-title {
    color: var(--color1);
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    line-height: 41px;
    text-transform: uppercase;
    margin-bottom: 12px;
}
.purchase-text {
    color: var(--color15);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 40px;
    margin-bottom: 67px;
}

.work {
    background-color: var(--color14);
    padding-top: 95px;
    padding-bottom: 99px;
}
.work-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.work-title {
    color: var(--color3);
    text-align: center;
    font-size: 36px;
    font-weight: 400;
    line-height: 40px;
    margin-bottom: 97px;
    position: relative;
}
.work-title::after {
    content: url(./Step\ Project\ Ham/./Style\ copy\ 2.svg);
    position: absolute; 
    top: 35px;
    left: 133.215px;
}
.work-filter {
    display: flex;
    justify-content: center;
    width: 582px;
    height: 58px;
}
.work-filter li {
    display: flex;
    align-items: center;
    padding: 14px 15px 13px;
    color: var(--color4);
    font-size: 14px;
    font-weight: 400;
    line-height: 42px;
    border: 1px solid var(--color15);
    transition: color 0.2s ease
}
.work-filter li:hover {
    cursor: pointer;
    border: 1px solid var(--color1);
    color: var(--color1);
}
.work-images {
    display: flex;
    flex-wrap: wrap;    
    width: 100%;
    height: auto;
    /* height: 625px;
    overflow: hidden; */
    margin-top: 69px;
    margin-bottom: 70px;
}
.work-images li {
    box-sizing: content-box;
    position: relative;
}
.work-images li img {   
    width: 100%;
    height: auto;
}
.work-images-hover {
    width: 100%;
    height: 0;
    max-height: 140px; /* Встановлюємо максимальну висоту для зручності */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: var(--color14);
    border-top: 3px solid var(--color1);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    overflow: hidden;
    transition: height 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
.work-images li:hover .work-images-hover {
    height: 140px; /* Отримуємо висоту при наведенні */
    opacity: 1;
}
.work-images-hover-svg {
    content: url(./Step\ Project\ Ham/iconwork.svg);
}
.work-images-hover-creative {
    font-size: 14.177px;
    font-weight: 700;
    line-height: 25.185px; 
    text-transform: uppercase;
}
.work-images-hover-web {
    color: var(--color3);
    font-size: 12.152px;
    font-weight: 300;
    line-height: 25.185px;
}
.button-work {
    cursor: pointer;
}

.breaking {
    padding-top: 82px;
    padding-bottom: 131px;
}
.breaking-content{
    display: flex;
    flex-direction: column;
    height: 744px;
}
.breaking-title {
    color: var(--color3);
    text-align: center;
    font-size: 36px;
    font-weight: 400;
    line-height: 40px;
    margin-bottom: 100px;
    position: relative;
}
.breaking-title::after {
    content: url(./Step\ Project\ Ham/./Style\ copy\ 2.svg);
    position: absolute; 
    top: 38px;
    left: 540px;
}
.breaking-items {
    height: 604px;
    display: flex;   
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}
.breaking-item-pointer {
    text-decoration: none;
    background-color: var(--color12);
    position: relative;
}
.breaking-item-pointer:hover {
    .amazing {
        color: var(--color1);        
    }
    .breaking-item-date {
        background-color: var(--color1);
    }
}
.breaking-item-date {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70px;
    height: 68px;
    background-color: var(--color13);
    position: absolute;
    top: 0;
    right: 0;
    transition: background-color 0.1s ease
}
.breaking-item-date span {
    color: var(--color2);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
}
.amazing {
    color: var(--color4);
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    line-height: 39px;
    transition: color 0.1s ease
}
.comment {
    color: var(--color5);
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    line-height: 39px;
}

.people-say {
    /* background-image: url(./Step\ Project\ Ham/Sections\ background/section-3.jpg); */
    background-image: url(./Step\ Project\ Ham/Sections\ background/Layer\ 333.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 853px;
    position: relative;
}
/* варіант базового фона з псевдоелементом фоном для затемнення, як на дизайні */
/* .people-say::after {
    content: "";
    background: var(--color15);
    opacity: .5;
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%;
    z-index: 0;
} */

.people-say-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 98px;
    padding-bottom: 98px;
    position: relative;    
    /* z-index: 1; */
}

.people-say-title {
    color: var(--color2);
    line-height: 40px;
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 168px;
    position: relative;
    /* z-index: 2; */
}
.people-say-title::before{
    content: url(./Step\ Project\ Ham/./Style\ copy\ 2.svg);
    position: absolute;
    /* transform: translate(50%); */
    top: 45px;
    left: 253.5px;
}
.people-say-title::after{
    content: url(./Step\ Project\ Ham/./Combined\ shape\ 2474.svg);
    position: absolute;    
    top: 126px;
    left: 271.5px;
}
.people-say-text {
    height: 90px;
    overflow: hidden;
    color: var(--color7);
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    margin-bottom: 7px;
}
.people-say-person {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 38px;
}
.people-say-person-name {
    font-size: 16px;
    font-weight: 700;
    line-height: 27px;
    text-transform: uppercase;
}
.people-say-person-profession {
    color: var(--color7);   
    font-size: 13px; 
    font-weight: 300;
    line-height: 27px;
}

.people-one-person {
    width: 143px;
    height: 142px;
    border-radius: 50%;
    border: 12px solid rgba(31, 218, 181, 0.2);
    margin-bottom: 51px;
}

.people-slider {
    display: flex;
    align-items: center;
}
.arrow {
    width: 31px;
    height: 31px; 
    border: 1px solid var(--color7);
    position: relative;
    cursor: pointer;
    transition: 0.5s;
}
/* <svg xmlns="http://www.w3.org/2000/svg" width="31" height="31" viewBox="0 0 31 31" fill="none">
  <g clip-path="url(#clip0_2143_60)">
    <rect width="31" height="31" fill="black" fill-opacity="0.01" stroke="#BBBBBB"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M17.5076 21.5076L18.8126 20.1056L14.5246 1
    5.4963L18.8126 10.8899L17.5076 9.4867L11.9146 15.4963L17.5076 21.5076Z" fill="#BBBBBB"/>
  </g>
  <defs>
    <clipPath id="clip0_2143_60">
      <rect width="31" height="31" fill="white"/>
    </clipPath>
  </defs>
</svg> */
.arrow::before,
.arrow::after {
    content: "";
    display: block;
    position: absolute;
    left: 25%;  
    width: 12px;
    height: 3px;
    background-color: var(--color7);    
}
.arrow:nth-of-type(1)::before {
    transform: rotate(45deg);
    top: calc(50% + 2px);
}
.arrow:nth-of-type(1)::after {
    transform: rotate(-45deg);
    top: calc(50% - 4.5px);
}
.arrow:nth-of-type(2)::before {
    transform: rotate(-45deg);
    top: calc(50% + 2px);
}
.arrow:nth-of-type(2)::after {
    transform: rotate(45deg);
    top: calc(50% - 4.5px);
}
.arrow:hover::before,
.arrow:hover::after {
    background-color: var(--color2);      
}
.arrow:hover {
    background-color: var(--color1);
}  

/* .people-slider-center::before{
    content: url(./Step\ Project\ Ham/./Arrow\ Preview\ copy.svg);
    position: absolute;
    bottom: 115px;
    left: 339px;
}
.people-slider-center::after{
    content: url(./Step\ Project\ Ham/./Arrow\ Hover\ copy.svg);
    position: absolute;
    bottom: 115px;
    right: 340px;
} */

.people-slider-wrapper {
    width: 421px;
    height: 100px;    
    overflow: hidden;    
}
.people-slider-center {
    height: 70px;
    display: inline-flex;
    white-space: nowrap;
    align-items: center;
    justify-content: space-around;
    padding-top: 15px;
}

.people-slider-center li {
    display: flex;
    justify-content: center;
    width: 105.25px;
    height: 71px;
    transition: transform 0.6s ease-in-out;
    position: relative;
    z-index: 2;
    cursor: pointer;
}
.people-slider-center li img {
    border-radius: 50%;
    border: 5px solid rgba(31, 218, 181, 0.2);
}
/* 
.people-slider-center li:nth-of-type(3) {
    position: relative;
    bottom: 13px;
} */
.people-slider-center li:hover img {
    border-color: rgba(24, 207, 171, 0.7);
}
.people-slider-center li:hover {
    position: relative;
    bottom: 14px;
}


.gallery-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 110px;
    padding-bottom: 67px;
}
.gallery-title {
    color: var(--color3);
    line-height: 40px;
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 115px;
    position: relative;
}

.gallery-title::after {
    content: url(./Step\ Project\ Ham/./Style\ copy\ 2.svg);
    position: absolute;
    top: 40px;
    left: 160px;
}
 
.gallery-collection-mini {
    display: grid;
    grid-template-rows: 168px 92px 92px 92px;
    grid-template-columns: 124px 53px 63px 115px;
    gap: 3px;
}

.gallery-collection-mini-item1 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
}

.gallery-collection-mini-item2 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 5;
}

.gallery-collection-mini-item3 {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
}

.gallery-collection-mini-item4 {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 4;
}

.gallery-collection-mini-item5 {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 4;
    grid-column-end: 5;
}

.gallery-collection-mini-item6 {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
}

.gallery-collection-mini-item7 {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 4;
}

.gallery-collection-mini-item8 {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 4;
    grid-column-end: 5;
}

.gallery-collection-mini-item9 {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 2;
}

.gallery-collection-mini-item10 {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 4;
}

.gallery-collection-mini-item11 {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 4;
    grid-column-end: 5;
}

.gallery-collection {
    display: grid;
    grid-template-rows: 263px 97px 53px 73px 81px 189px 45px;
    grid-template-columns: 378px 378px 364px;
    gap: 20px;
    margin-bottom: 67px;
}

.gallery-collection-item1 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
}

.gallery-collection-item2 {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
}

.gallery-collection-item3 {
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 4;
}

.gallery-collection-item4 {
    grid-row-start: 2;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 2;
}

.gallery-collection-item5 {
    grid-row-start: 5;
    grid-row-end: 7;
    grid-column-start: 1;
    grid-column-end: 2;
}

.gallery-collection-item6 {
    grid-row-start: 3;
    grid-row-end: 6;
    grid-column-start: 2;
    grid-column-end: 3;
}

.gallery-collection-item7 {
    grid-row-start: 6;
    grid-row-end: 8;
    grid-column-start: 2;
    grid-column-end: 3;
}

.gallery-collection-item8 {
    grid-row-start: 4;
    grid-row-end: 7;
    grid-column-start: 3;
    grid-column-end: 4;
} 

.footer {
    width: 100%;
    height: 121px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color8);
}

.footer-text {
    text-align: center;
    color: var(--color9);
    font-size: 14px;
    font-weight: 300;
    line-height: 26px;
}

.spinner {
    /* background: var(--color1); */
    width: 280px;
    height: 280px;
    border: 25px dotted var(--color13);
    border-style: solid solid dotted dotted;
    border-radius: 50%;
    animation: anime-1 3.5s linear infinite;
    display: none;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    margin: 10px auto 20px;
}

.spinner::after {
    content: "";
    display: block;
    width: 100px;
    height: 100px;
    border: 25px dotted var(--color1);
    border-style: solid solid dotted;
    border-radius: 50%;
    animation: anime-2 1.5s linear infinite;
}

@keyframes anime-1 {
    0% { transform: rotate( 0deg ); }
    100% { transform: rotate(360deg); }
}
@keyframes anime-2 {
    0% { transform: rotate( 0deg ); }
    100% { transform: rotate(-360deg); }
}




/* Інший спіннер */

/*<span class="loader"></span> */

/*.loader {
    display: none;
    transform: rotateZ(45deg);
    perspective: 1000px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    color: var(--red---01);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
.loader:before,
.loader:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    transform: rotateX(70deg);
    animation: 1s spin linear infinite;
}
.loader:after {
    color: var(--green-01);
    transform: rotateY(70deg);
    animation-delay: .4s;
}
  
@keyframes rotate {
    0% {
        transform: translate(-50%, -50%) rotateZ(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotateZ(360deg);
    }
}
  
@keyframes rotateccw {
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotate(-360deg);
    }
}
  
@keyframes spin {
    0%,
    100% {
      box-shadow: .2em 0px 0 0px currentcolor;
    }
    12% {
      box-shadow: .2em .2em 0 0 currentcolor;
    }
    25% {
      box-shadow: 0 .2em 0 0px currentcolor;
    }
    37% {
      box-shadow: -.2em .2em 0 0 currentcolor;
    }
    50% {
      box-shadow: -.2em 0 0 0 currentcolor;
    }
    62% {
      box-shadow: -.2em -.2em 0 0 currentcolor;
    }
    75% {
      box-shadow: 0px -.2em 0 0 currentcolor;
    }
    87% {
      box-shadow: .2em -.2em 0 0 currentcolor;
    }
} */